<div class="container">
  
  <div class="centered">
    <div class="header"><span class="cursed-text">VENERATE</span> early contributors</div>
  </div>

  <div class="card">
    <p>This project would not be possible without the help of many people:</p>
    <div class="credits-list">
      <div class="credit-item">
        <a href="https://twitter.com/boredGenius">Zefram</a>, for technical advice and offering to be an initial multisig signer.
      </div>
      <div class="credit-item">
        <a href="https://twitter.com/NoaNabeshima">Noa</a>, for assistance running the language models to power the AI creativity behind the 0xmons lore.
      </div>
      <div class="credit-item">
        <a href="https://twitter.com/justalittlemarv">Marv</a>, for coming up with the idea for generating novel, procedural animations.
      </div>
      <div class="credit-item">
        ryujin, for early support from the earliest days, constant feedback, and alpha-alpha testing.
      </div>
      <div class="credit-item">
        <a href="https://twitter.com/46Volt">volt46</a>, for awesome early marketing visuals.
      </div>
      <div class="credit-item">
        <a href="https://twitter.com/alexgausman">Alex</a>, for agreeing to be an initial multisig signer.
      </div>
      <div class="credit-item">
        <a href="https://twitter.com/EclipseumToken">Taylor</a>, for agreeing to be an initial multisig signer.
      </div>
      <div class="credit-item">
        <a href="https://twitter.com/ruub21">Ruub21</a>, for early ideation and brainstorming.
      </div>
      <div class="credit-item">
        RJ, for being supportive.
      </div>
      <div class="credit-item">
        All the <a href="https://opensea.io/assets/0xmon">alpha 0xmons</a> supporters and Rinkeby testers.
      </div>
    </div>
    <p>If I've forgotten you, reach out at hello at 0xmons, and I'll add you!</p>
  </div>

</div>