<div class="container">
  <p>Q: How do I get a monster?</p>
  <p>A: You can either burn a gem that has been staked for > 10,000 blocks with an underlying of at least 1 YFB. Or you can purchase a monster directly by paying YFB.</p>
  <p>Q: What happens to my gem if I redeem a monster?</p>
  <p>A: It goes to the 0 address and is burned.</p>
  <p>Q: Can I still unstake my YFB from yfLambda if I burn my gem></p>
  <p>A: Yes.</p>
  <p>Q: How many monsters can I own></p>
  <p>A: As many as you want.</p>
  <p>Q: What's next?</p>
  <p>A: Merging two monsters. Also battling, but that's later on.</p>
  <p>Q: What can the owner of the contract do?</p>
  <p>A: Transfer tokens out and change the parameters like minimum stake time, stake amount, and price to buy a monster.</p>
</div>