<div class="container">
  <div class="cursed-text faq"><h1>FAQ</h1></div>
  <p>Q: Okay, seriously, what's going on here?</p>
  <p>A: 0xmons is an experimental NFT project with completely unique, animated pixel monsters that are all algorithmically generated (but human-curated). </p>
  <p>Q: Where is the contract? Is it audited?</p>
  <p>A: You can find it <a href="https://etherscan.io/token/0xAf488234796CA27DBa8ECF17f803Ea1f4Ab33E15">here</a>. It is not audited.</p>
  <p>Q: Is there a GitHub repo?</p>
  <p>A: Yes, check <a href="https://github.com/owenshen24/0xmons-contracts/tree/main">here</a>.</p>
  <p>Q: Okay, so how do I get a monster?</p>
  <p>A: You can either burn a gem (which you can get for staking your yfBeta at <a href="https://yflambda.finance">yfLambda</a>) that has been staked for > 10,000 blocks with an underlying of at least 1 YFB. Or you can purchase a monster directly.</p>
  <p>Q: What happens to my gem if I redeem a monster?</p>
  <p>A: It goes to the 0 address and is burned.</p>
  <p>Q: Can I still unstake my YFB from yfLambda if I burn my gem?</p>
  <p>A: Yes.</p>
  <p>Q: How many monsters can I own?</p>
  <p>A: As many as you want.</p>
  <p>Q: What's next?</p>
  <p>A: Merging two monsters. Also battling.</p>
  <p>Q: What can the owner of the contract do?</p>
  <p>A: Transfer tokens out and change the parameters like minimum stake time, stake amount, and price to buy a monster.</p>
</div>