.logo-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-anchor {
  text-decoration: none;
}
.logo {
  font-size: 3rem;
  color: var(--light-green);
  text-decoration: line-through;
  font-weight: bold;
}
.logo:hover {
  color: var(--green);
}

.wallet-holder {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.wallet-button {
  font-family: Courier, monospace;
  color: var(--med-green);
  background-color: var(--dark-gray);
  font-size: 1.2rem;
  font-weight: bold;
}
.wallet-button, .navbar a {
  border: 1px solid var(--darker-gray);
}
.wallet-button:hover, .navbar a:hover {
  background-color: var(--darker-gray);
  color: var(--green);
  border: 1px solid var(--light-green);
}

.navbar {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--dark-gray);
}
.navbar a:hover {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .wallet-holder {
    position: unset;
    right: unset;
    top: unset;
    display: block;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}