.can-merge {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  border: 1px solid var(--green);
}

.mon-select {
  border: 1px solid var(--green);
  background-color: var(--black);
  color: var(--light-green);
  font-size: 1.3rem;
  width: 80%;
  max-width: 15rem;
  padding: 0.1rem 0.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mon-name {
  color: var(--light-green);
}

.merge-holder {
  margin-top: 1rem;
}
.merge-btn {
  font-family: Courier, monospace;
  width: 10rem;
  font-size: 1.75rem;
  background-color: var(--darker-gray);
  color: var(--green);  
  border: 2px solid var(--dark-green);
  text-transform: uppercase;
  animation: blinker 5s linear infinite;
}
.disabledtrue {
  animation: none;
}
.merge-btn:hover {
  color: white;
  background-color: var(--dark-gray);
  border: 2px solid var(--green);
}