<div class="container">

  <div class="centered">
    <div class="header"><span class="cursed-text">HARVEST</span> élan vital</div>
  </div>

  <div class="card">
    <p>Stake your <span class="lp-ticker">XMON-ETH</span> LP tokens to earn <span class="xmon-ticker">XMON</span>.</p>
    <p>You can get XMON-ETH LP tokens by providing liquidity on Uniswap <a href="https://v2.info.uniswap.org/pair/0x4bacaaabe3e96959ddf3269d3092d5cea88fefe9">here</a>.</p>
    <p>Farming uses this SNX Rewards contract <a href="https://etherscan.io/address/0xd4275e04dbe82526e4a17ac0fb8f509b6080a455">here</a>.</p>
  </div>

  <div class="card">
    <div class="countdown">Current farming round ends in {{days}} days {{hours}} hours {{minutes}} minutes {{seconds}} seconds</div>
    <div>The next distribution will start shortly afterwards, no need to unstake.</div>
    <div>Total staked: {{rewardsLPBalance.toFormat(5)}} XMON-ETH LP tokens</div>
  </div>

  <div class="card">
    <div class="two-cols">
    
      <div>
        <div class="card-header staking-header">💧 STAKING LP</div>
        <div class="card-text">
          <div (click)="fillForm(stakedBalance)" class="clickable">Staking: {{stakedBalance.toFormat(8)}} XMON-ETH LP</div>
          <div (click)="fillForm(lpBalance)" class="clickable">Balance: {{lpBalance.toFormat(8)}} XMON-ETH LP</div>
        </div>
        <div class="form-holder">
          <input placeholder="0.0000" class="form" [(ngModel)]="stakeAmount" name="stakeAmountInput">
        </div>
        <button id="add-btn" (click)="stake()">Add Stake</button>
        <button id="remove-btn" (click)="exit()">Remove All Stake</button>
      </div>
      
      <div>
        <div class="card-header farming-header">
          <span class="xmon-squid">🦑</span> FARMING <b>XMON</b>
        </div>
        <div class="card-text">
          <div>Farmed: {{farmedXMON}}<span class="xmon-ticker">XMON</span></div>
        </div>
        <button class="claim-btn" (click)="claimRewards()">Claim XMON</button>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="centered">
      <div class="cursed-text stats-header">Unstable Stats</div>
      (Note these stats fluctuate according to the whims of The Mark'et. They are unstable, they do not factor in <a href="https://uniswap.org/docs/v2/advanced-topics/understanding-returns/">impermanent loss</a>, and they are only meant as a rough guide. Taking them as dogma <i>will</i> lead to d̢̥͎̻͓͕͙ͭ͒̈ͅe̵͚͔ͤͬ̔͌g̉҉͓̞̹͇͉̲e̶̫͖̦͉̦͓͇͆̋̽n̸̼͕̥̣̻̾e̬͖̝͋͆͑̕r̼̺͚̬ͯ̎̑͐͟ȧ̜̯̜̃̽̀c̺̟̜̖͇̠̰͒͌̈̄́y̶͓͙̝̋)
      <hr>
      <div class="apy-stats">
        <div *ngIf="notStaking">Hypothetically, if you staked 1 LP token: </div>
        <div>You are staking: <b>~{{stakedBalanceDAI.toFormat(8)}} DAI</b> worth of LP tokens. ({{ethInXMONLp.toFormat(8)}} ETH and {{xmonInXMONLp.toFormat(8)}} XMON)</div>
        <div>You are earning: <b>~{{dailyXMONYield.toFormat(8)}}</b> <span class="xmon-ticker">XMON</span> <b> (~{{dailyXMONYieldDAI.toFormat(8)}} DAI)</b> per day.</div> 
        <div>Your floating returns per day is: <b>{{floatingYield}}%</b></div>
      </div>
    </div>
  </div>


</div>
