.card-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.mon-card {
  background-color: black;
  border: 1px solid var(--green);
  padding: 0.5rem 0.5rem;
  margin: 0.75rem 0.75rem;
  max-width: 15rem;
  overflow-wrap: break-word;
  color: var(--green);
}

.mon-name {
  color: white;
}