.name {
  color: white;
}

select {
  margin: 0.5rem 0.5rem;
  padding: 0.2rem 0.2rem;
  border: 3px solid var(--darker-gray);
  border-radius: 4px;
  font-size: 0.9rem;
}

.mon-item-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mon-item {
  cursor: pointer;
  margin: 0.5rem 0.5rem;
  padding: 1rem 1rem;
  border: 3px solid var(--darker-gray);
  border-radius: 4px;
}

.mon-item:hover {
  border: 3px solid var(--dark-gray);
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .mon-item-holder {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 468px) {
  .mon-item-holder {
    grid-template-columns: 1fr;
  }
}