<div class="container">

  <div class="header centered"><span class="cursed-text">BEHOLD</span> the pantheon</div>

  <div class="centered">
    <div>Filter Color</div>
    <select [(ngModel)]="selectedColor" (change)="filterMonsByColor()">
      <option value="" disabled selected>all</option>
      <option *ngFor="let c of colorList" value="{{c}}">
        {{c}}
      </option>
    </select>
  </div>

  <div class="mon-item-holder">
    <div *ngFor="let m of monList" class="mon-item">
      <div routerLink="/mon/{{m.Index}}" routerLinkActive="active">
        <div class="name"><b>#{{m.Index}} {{m.Name}}</b></div>
        <div>{{m.Epithets}}</div>
        <img class="thumbnail centered-image" src="{{m.StaticURL}}" loading="lazy">
      </div>
    </div>
  </div>

</div>