<div class="container">

  <div class="centered">
    <div class="header"><span class="cursed-text">EVOKE</span> the ineffable</div>
  </div>

  <div class="card">
    <p>Stake your <span class="xmon-ticker">XMON</span> tokens to earn <span class="doom-ticker">DOOM</span>.</p>
    <p>Generate enough DOOM to summon a 0xmon NFT. Head over to your <a routerLink="/collection">Collection</a> to see all your 0xmons.</p>
    <p>Note: DOOM is <i>not</i> an ERC-20 token. It's just an internal point system used by the contract to track your progress.</p>
    <hr>
    <div><b>{{numMons}}/{{maxMons}} 0xmons summoned</b></div>
  </div>

  <div class="card">
    <div class="two-cols">
      <div>
        <div class="stake-header">
          <span class="xmon-squid">🦑</span> STAKING <b>XMON</b>
        </div>
        <div class="card-text">
        <div><span>Max stake:</span> <b> {{maxStakeAmount.toFormat()}}</b> <span class="xmon-ticker">XMON</span></div>
        <div><span>Staking:</span> <b> {{stakedXmon.toFormat()}}</b> <span class="xmon-ticker">XMON</span></div>
        <div><span>Available:</span> <b> {{xmonBalance.toFormat()}}</b> <span class="xmon-ticker">XMON</span></div>
        </div>
        <div class="form-holder">
          <input placeholder="0.0000" class="form" [(ngModel)]="stakeAmount" name="stakeAmountInput">
        </div>
        <button id="add-btn" (click)="stake()">Add Stake</button>
        <button id="remove-btn" (click)="removeStake()" title="Removes all of your staked XMON">Remove All Stake</button>
      </div>
      <div>
        <div class="doom-header">💀 GENERATING <b>DOOM</b></div>
        <div class="card-text">
        <div><span>Summon Cost:</span> <b> {{doomFee}}</b>  <span class="doom-ticker">DOOM</span></div>
        <div><span>Balance:</span> <b> {{doomBalance.toFormat()}} </b> <span class="doom-ticker">DOOM</span></div>
        <div><span>Rate:</span> <b> {{doomPerHour}}</b> <span class="doom-ticker">DOOM</span> / hour</div>
        </div>
        <button class="summon-btn" (click)="claimMon()" [disabled]="!canSummon ? 'disabled': null">SUMMON 0xmon</button>
      </div>
    </div>
  </div>

</div>