<div class="container">

  <div class="header centered"><span class="cursed-text">CLARIFY</span> the chaos</div>

  <div>
    You can find all the code for the visualization below <a href="https://github.com/0xmons/0xmons-clustering" target="_blank">here</a>.
  </div>

  <div class="two-cols">
    <div>
      <canvas #canvas width="600" height="600"
      (pointerdown)="handleDown($event)"
      (pointerup)="endDrag($event)"
      (pointermove)="handleMove($event)"
      (wheel)="zoom($event)"
      ></canvas>
    </div>
  </div>

</div>