<div class="container">

  <div class="header centered"><span class="cursed-text">CLARIFY</span> the chaos</div>

  <div>Run your own analysis on the 0xmons. Select your own color features and perform maChInE lEArNIng.</div>

  <p></p>

  <div>Max: {{maxColors}} colors. (More colors means longer calculation time.)</div>

  <div class="color-holder">
    <div *ngFor="let c of colorList.controls; let i = index" class="color-item" [formGroup]="c">
      <div>Color {{i+1}}</div>
      <div class="color-picker">
        <input type="color" class="color-input" formControlName="color">
        <button (click)="deleteColor(i)" class="delete-color-button">X</button>
      </div>
    </div>
  </div>
  <div class="centered">
    <button (click)="addColor()" class="add-colors-button">Add Color</button>
  </div>

  <div class="chart">
    <div>Loading {{loadingPercentage}}%</div>
    <div><button (click)="analyze()">Run Analysis</button></div>
  </div>

</div>