.mon-item-holder {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mon-item {
  font-size: 1.75rem;
  text-align: center;
  margin: 1.5rem 1.5rem;
  padding: 0.5rem 0.5rem;
  border: 3px solid var(--darker-gray);
  border-radius: 4px;
}
.mon-item:hover {
  border: 3px solid var(--dark-gray);
}

.mon-item > div {
  cursor: pointer;
  color: var(--med-green);
}

.mon-item > div:hover {
  color: var(--green);
}

.thumbnail {
  margin-top: 0.5rem;
  width: 8rem;
  height: auto;
}

.links {
  margin-top: 3rem;
  border-top: var(--darker-gray) 2px solid;
}

.view-btn {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  text-transform: none;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}

.view-btn > a {
  text-decoration: none;
}

.open-sea {
  color: rgb(0, 183, 255);
}

.external-link-icon {
  width: 1rem;
  height: auto;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 1200px) {
  .mon-item-holder {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .mon-item-holder {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 468px) {
  .mon-item-holder {
    grid-template-columns: 1fr;
  }
}