<div class="container">
  <div class="header centered"><span class="cursed-text">AMASS</span> your idols</div>

  <div *ngIf="loading" class="centered">
    Loading monsters...
  </div>

  <div class="mon-item-holder">
    <div class="mon-item" *ngFor="let m of monList">
      <div routerLink="/mon/{{m.id}}" routerLinkActive="active">
        <div>#{{m.id}} {{m.name}}</div>
        <img class="thumbnail" src="{{m.image}}">
      </div>
    </div>
  </div>

  <div class="links centered">
    <p>ERC-721 contract on Etherscan <a href="https://etherscan.io/address/0x0427743DF720801825a5c82e0582B1E915E0F750">here</a>.</p>
    <p>View all 0xmons, starting with #0 <a routerLink="mon/0">here</a></p>
    <p>Browse 0xmons on OpenSea <a href="https://opensea.io/collection/0xmons-xyz/">here</a>.</p>
    <p>View your legacy 0xmons here <a routerLink="/old-collection">here</a>.</p>
  </div>
</div>