:root {
--black: rgb(1, 4, 14);
--darker-gray: #1c2541ff;
--dark-gray: #2b3b56ff;
--gray: #6081a9ff;
--dark-green: rgb(52, 107, 99);
--med-green: rgb(102, 223, 205);
--green: rgb(133, 207, 196);
--solid-green: rgb(62, 150, 120);
--light-green: #e2f4f4ff;
--red: rgb(110, 56, 56);
--gray-green: rgb(61, 88, 84);
}

body {
  background-color: var(--black);
  color: var(--light-green);
  font-family: "Lucida Console", "Courier New", Courier, Monaco, monospace;
}

img:hover {
  filter: hue-rotate(45deg);
  /* cursor: url('assets/cursor.gif'), auto;	 */
}

a {
  color: var(--med-green);
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}
.disabledtrue {
  background-color: var(--dark-gray) !important;
  cursor: unset;
  color: var(--gray) !important;
  cursor: not-allowed;
  pointer-events: none;
}

.container {
  margin-top: 2rem;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
}

.cursed-text {
  color: var(--med-green);
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: line-through;
  text-transform: uppercase;
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
}

.card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: var(--black);
  border: 2px solid var(--dark-green);
}

.card-title {
  font-size: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: var(--green);
  font-weight: bold;
}

.centered {
  text-align: center;
}
.header {
  font-size: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.header > .cursed-text {
  font-size: 2rem;
}

.two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .two-cols {
    display: block;
  }
}