:root {
--black: rgb(1, 4, 14);
--darker-gray: #1c2541ff;
--dark-gray: #2b3b56ff;
--gray: #6081a9ff;
--dark-green: rgb(52, 107, 99);
--med-green: rgb(102, 223, 205);
--green: rgb(133, 207, 196);
--light-green: #e2f4f4ff;
}

body {
  background-color: var(--black);
  color: var(--light-green);
  font-family: "Lucida Console", "Courier New", Courier, Monaco, monospace;
}

img:hover {
  filter: hue-rotate(270deg);
  cursor: url('assets/cursor.gif'), auto;	
}

a {
  color: var(--med-green);
}