<div class="container">
  <a routerLink="/collection"><button>◄ Back</button></a>
</div>

<div class="mon-container">
  <div class="mon-name">#{{monId}} &ensp; {{monData.name}}</div>
  <div>
    <img class="mon-img" src="{{monData.img}}">
  </div>
  <div class="mon-data-card">
    <p><b>Name:</b> {{monData.name}}</p>
    <p><b>Epithets:</b> {{monData.epithets}}</p>
    <p><b>Generation:</b> {{monData.gen}}</p>
    <p><b>Parent 1:</b> &nbsp; <a routerLink="/mon/{{monData.parent1Id}}" routerLink="active">{{monData.parent1Id}}</a></p>
    <p><b>Parent 2:</b> &nbsp;  <a routerLink="/mon/{{monData.parent2Id}}" routerLink="active">{{monData.parent2Id}}</a></p>
    <div><b>Lore:</b> <div class="lore">{{monData.lore}}</div></div>
  </div>
</div>