.mon-name {
  margin-top: 2rem;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px -2px var(--med-green), -2px 2px var(--pink);
  margin-bottom: 1rem;
}

.mon-epithets {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 0px var(--med-green), 0px 2px var(--pink);
}

.mon-container {
  max-width: 40rem;
  margin: auto;
}

.zoom-btn {
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0.5rem;
  border: 3px solid var(--dark-gray);
  border-radius: 2px;
}

.onchain-icon {
  font-size: 1.3rem;
  margin: 0.5rem 0.6rem;
  padding: 0.35rem 0.5rem;
  border: 3px solid var(--dark-gray);
  border-radius: 2px;
}

.super {
  animation: expandFlash 2s linear infinite;
  filter: sepia(1) saturate(2.5)  hue-rotate(120deg);
} 
@keyframes expandFlash {
  25% {
    box-shadow: 1px 1px var(--med-green), -1px -1px var(--med-green), 1px -1px var(--med-green), -1px 1px var(--med-green);
  }
  75% {
    box-shadow: none;
  }
}

.onchain-icon > a {
  text-decoration: none;
}

.mon-img {
  width: 20rem;
  height: auto;
  padding: 1.5rem 1.5rem;
  /* border: 4px solid var(--dark-gray); */
  /* border-radius: 4px; */
}

.mon-data-card {
  font-size: 1.1rem;
  color: white;
}

.lore {
  margin-top: 0.5rem;
  color: var(--light-gray);
  font-style: italic;
}

.view-btn {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  text-transform: none;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 2px;
  color: white;
  border: 2px solid var(--med-green);
}

.view-btn > a {
  text-decoration: none;
}

.external-links {
  margin-bottom: 2rem;
}

.open-sea {
  color: rgb(0, 183, 255);
}

.nav-bar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.right {
  margin-left: 50%;
}

.external-link-icon {
  width: 1rem;
  height: auto;
  margin-left: 0.5rem;
}

.register-portal {
  margin-top: 4rem;
}

.register-header {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--med-green);
  margin-bottom: 1rem;
}

.register-fee {
  margin-top: 1rem;
}

input {
  margin-right: 1rem;
  background-color : var(--black) !important; 
  color: white !important;
  font-size: 1.1rem;
  outline: none;
  border: 2px solid var(--gray);
  padding-bottom: 0.5rem;
  padding-top: 0.2rem;
}

select {
  border: 2px solid var(--gray);
  background-color: var(--black);
  padding: 0.1rem 0.1rem;
  color: white !important;
  font-size: 1.1rem;
  margin-right: 1rem;
  width: 8rem;
}

.xmon-ticker {
  margin-left: 0.5rem;
  font-weight: bold;
}
.xmon-ticker {
  color: var(--med-green);
}

.direct-upload {
  margin-top: 2rem;
}

.claim-title {
  font-size: 1.5rem;
  color: var(--green);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.protocard {
  margin-top: 2rem;
  padding: 1rem 1rem;
  border: 2px solid var(--med-green);
  border-radius: 3px;
}

.protocard-btn {
  color: var(--green);
}


.upload-btn {
  color: var(--med-green);
}

.sub-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .mon-name {
    font-size: 2rem;
    text-shadow: 2px 0px var(--med-green), 0px 2px var(--pink);
  }
  .mon-epithets {
    font-size: 1.25rem;
  }
  .right {
    margin-left: 20%;
  }
}