<div class="container">

  <div class="">
    <div class="card text-card">
      <div>
        <img src="./assets/model-4/mon_3.gif">
        <img src="./assets/model-4/mon_6.gif">
      </div>
      <p>Pixel art <span class="cursed-text">dreamt</span> from the mad nightmares of a GAN.</p>
      <p>Procedurally <span class="cursed-text">wrought</span> animations.</p>
      <p>Names <span class="cursed-text">divined</span> from a char-RNN.</p>
      <p>Totally not-random bits <span class="cursed-text">summoned</span> from the Ethereum blockchain.</p>
      <p>These are not the <span class="cursed-text">N</span>FTs you have been looking for.</p>
      <p>These are not the <span class="cursed-text">NF</span>Ts you have been looking for.</p>
      <p>These are not the <span class="cursed-text">NFT</span>s you have been looking for.</p>
      <p class="no-font">T̨͓̬͈̠̱̜͎͗̅́ḥ̦̠̯͚͇̇͆͝e̻͈̳̱ͯ̈ͭ͜s̡͙͍̩ͤ̈e̻͒ͬ̚͟ͅ ̸͓̳̪̤̟͉̑͆̀ͥͅa͐͌҉̹̦̱̼̼͓̣̰r̫̜̄͝e̩̗͉̬̠͚̻ͩ̄͠ ̙͙̠͕ͮ̀͗́n̰̺͆̒̎͒͠ͅǫ̯̫̻̩̔̓͋t̮̖͓̮̥̺̭̊͘ ̌̊҉̥̮̖̰̙͓ť̷͉̪͚̝̻̟̤̔́͆h̷̜̩͉̠̣̫̽̔e̡̳̺̜ͧͤ͋ͤ ̪̝̘̙̯̜̆͑͢Ṇ̷̪̐͒͐Fͪ̍҉̠̼̣͕̹͇T̗̫̺͕̰͐̇ͨͭ́s̸͔͚̝̐ͫ̔ ͥ͏͙̩̲̙y̛͚͎̲̞͍̫̻̭̾͋ͣo͇̗̰̩̝̮̣͋̈́͗͗̕u̞͎̠̹̭̅͜ ̯̬͈̾ͫ͐͜h̨̲͍͙̭̫̲͖̼̄̑ȁ̬͓̤͠ͅṽ̳̳̱ͪ͌ͣ̕e͉̣̹͚̗̞ͣ̏̀ ͋҉̰̫̝̜b̠̗̦̊͛͘eͣ̅ͭ҉̳̙͈̳̣͔͙e̐҉̟͙n͍̗͔ͨ̔ͬ̀ ̴͖̭͕̰ͧͩ̑ͥl̡̫̱̉̈ő̧̞͙̋̊̉ͅͅͅỏ͖͈̞͉̳̜͐̑͘k̥̤͎͕͒͟i̛͎͎͖̘̦̓̄ͣņ͔̘̞̟̮̮̯̈́g̸̳͉͛ͦ ̪͔̃ͩ͒͑͡ͅf͕͇́͗͞ơ͔̹̱̙̺̯̳̺ͣͨ̓̏r̨̘ͥ̍ͅ.̴͖͙̪̅ͬ̓͂</p>
      <p>Evoke new horrors from the beyond by <span class="cursed-text">spawning</span> from two humble idols.</p>
      <p><span class="cursed-text">Supplicate</span> our favor on the <a href="https://twitter.com/0xmons">Blueness Out Of Space</a>.</p>
      <p><span class="cursed-text">Convoke</span> with the <a href="https://discord.gg/Nj2VhFT">cacophany</a>.</p>
      <p><span class="cursed-text">Transgressing</span> to your reality n̡̠̦͔̓̐oͥ͏̹͈̝̠̠͔̠w̧̖̦̻̣ͩ͛.</p>
      <div>
        <img src="./assets/model-4/mon_5.gif">
        <img src="./assets/model-4/mon_8.gif">
      </div>
    </div>
  </div>
</div>