<div class="container">

  <div class="two-cols">
    <div class="card text-card">
      <p>Pixel art <span class="cursed-text">dreamt</span> from the mad nightmares of a GAN.</p>
      <p>Procedurally <span class="cursed-text">wrought</span> animations.</p>
      <p>Names <span class="cursed-text">divined</span> from a char-RNN.</p>
      <p>Totally not-random bits <span class="cursed-text">summoned</span> from the Ethereum blockchain.</p>
      <p>These are not the <span class="cursed-text">N</span>FTs you have been looking for.</p>
      <p>These are not the <span class="cursed-text">NF</span>Ts you have been looking for.</p>
      <p>These are not the <span class="cursed-text">NFT</span>s you have been looking for.</p>
      <p>T̨͓̬͈̠̱̜͎͗̅́ḥ̦̠̯͚͇̇͆͝e̻͈̳̱ͯ̈ͭ͜s̡͙͍̩ͤ̈e̻͒ͬ̚͟ͅ ̸͓̳̪̤̟͉̑͆̀ͥͅa͐͌҉̹̦̱̼̼͓̣̰r̫̜̄͝e̩̗͉̬̠͚̻ͩ̄͠ ̙͙̠͕ͮ̀͗́n̰̺͆̒̎͒͠ͅǫ̯̫̻̩̔̓͋t̮̖͓̮̥̺̭̊͘ ̌̊҉̥̮̖̰̙͓ť̷͉̪͚̝̻̟̤̔́͆h̷̜̩͉̠̣̫̽̔e̡̳̺̜ͧͤ͋ͤ ̪̝̘̙̯̜̆͑͢Ṇ̷̪̐͒͐Fͪ̍҉̠̼̣͕̹͇T̗̫̺͕̰͐̇ͨͭ́s̸͔͚̝̐ͫ̔ ͥ͏͙̩̲̙y̛͚͎̲̞͍̫̻̭̾͋ͣo͇̗̰̩̝̮̣͋̈́͗͗̕u̞͎̠̹̭̅͜ ̯̬͈̾ͫ͐͜h̨̲͍͙̭̫̲͖̼̄̑ȁ̬͓̤͠ͅṽ̳̳̱ͪ͌ͣ̕e͉̣̹͚̗̞ͣ̏̀ ͋҉̰̫̝̜b̠̗̦̊͛͘eͣ̅ͭ҉̳̙͈̳̣͔͙e̐҉̟͙n͍̗͔ͨ̔ͬ̀ ̴͖̭͕̰ͧͩ̑ͥl̡̫̱̉̈ő̧̞͙̋̊̉ͅͅͅỏ͖͈̞͉̳̜͐̑͘k̥̤͎͕͒͟i̛͎͎͖̘̦̓̄ͣņ͔̘̞̟̮̮̯̈́g̸̳͉͛ͦ ̪͔̃ͩ͒͑͡ͅf͕͇́͗͞ơ͔̹̱̙̺̯̳̺ͣͨ̓̏r̨̘ͥ̍ͅ.̴͖͙̪̅ͬ̓͂</p>
    </div>

    <div class="card mon-card">
      <img src="./assets/model-4/mon_2.gif" loading="lazy" class="mon-img">
      <img src="./assets/model-4/mon_3.gif" loading="lazy" class="mon-img">
      <img src="./assets/model-4/mon_0.gif" loading="lazy" class="mon-img">
      <img src="./assets/model-4/mon_1.gif" loading="lazy" class="mon-img">
      <img src="./assets/model-4/mon_4.gif" loading="lazy" class="mon-img">
      <img src="./assets/model-4/mon_5.gif" loading="lazy" class="mon-img">
      <img src="./assets/model-4/mon_6.gif" loading="lazy" class="mon-img">
      <img src="./assets/model-4/mon_7.gif" loading="lazy" class="mon-img">
      <img src="./assets/model-4/mon_8.gif" loading="lazy" class="mon-img">
    </div>
  </div>

  <div class="centered">
    <div class="card text-card">
      <p>Evoke new horrors from the beyond by <span class="cursed-text">melding</span> two humble idols.</p>
    </div>
    <div>
      <img src="./assets/merge/0.png" class="merge-mon"><span class="math-sign">+</span><img src="./assets/merge/1.png" class="merge-mon"><span class="math-sign">=</span><img src="./assets/merge/2.png" class="merge-mon">
    </div>
    <p class="soon"><span class="cursed-text">Supplicate</span> our favor on the <a href="https://twitter.com/0xmons">Blueness Out Of Space</a>.</p>
    <p class="soon"><span class="cursed-text">Convoke</span> with the <a href="https://discord.gg/Nj2VhFT">cacophany</a>.</p>
    <p class="soon"><span class="cursed-text">Transgressing</span> to your reality soon.</p>
  </div>
</div>